@font-face {
  font-family: 'PC98';
  src: url('/font/PC9800.ttf') format('truetype');
}

body {
  text-align: center;
}

a {
  background-color: black;
  color: yellow;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  margin-bottom: 10px;
}

a:hover {
  background-color: yellow;
  color: black;
}
